<!DOCTYPE html>
<html>
<head>
	<title>Login page</title>
</head>
<body>
		
	<center>
		<h1>Login</h1>
		<input type="submit" name="" value="Register" align="right">
		<br>
		<br>
		<form action="account/Login">

		<table>
			<tr>
				<td>Username</td>
				<td>:</td>
				<td><input type="text" name="Username"></td>
			</tr>
			<tr>
				<td>Password</td>
				<td>:</td>
				<td><input type="password" name="Password"></td>
			</tr>
			<tr>
				<td align="center" colspan="3"><input type="submit" name="sumbit" value="login"></td>
				
			</tr>
		</table>
		</form>
	</center>

</body>
</html>